@font-face {
    font-family: 'lektonbold';
    src: url('lekton-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lektonitalic';
    src: url('lekton-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lektonregular';
    src: url('lekton-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*
{
  box-sizing: border-box;
}

body
{
  font-family: 'lektonregular', Menlo, 'Courier New', monospace;
  font-size: 20px;
  letter-spacing: 1px;
  background-color: #ebebe5;
  margin: 0;
  padding: 0;
}

p
{
  text-align: center;
}

.bar
{
  width: 100%;
  height: 3px;
  background-color: #4e8a97;
}

.logo
{
  width: 730px;
  height: 130px;
  margin: 0 auto;
  background-image: url('/environment/images/lissajous-logo.png');
  background-size: 730px 130px;
}

.give-me-some-space
{
  margin-top: 150px;
}