@font-face {
    font-family: 'lektonbold';
    src: url('lekton-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lektonitalic';
    src: url('lekton-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lektonregular';
    src: url('lekton-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*
{
  box-sizing: border-box;
}

body
{
  font-family: 'lektonregular', Menlo, 'Courier New', monospace;
  font-size: 20px;
  letter-spacing: 1px;
  background-color: #ebebe5;
  margin: 0;
  padding: 0;
}

p
{
  text-align: center;
}

.bar
{
  width: 100%;
  height: 3px;
  background-color: #4e8a97;
}

.logo
{
  width: 730px;
  height: 130px;
  margin: 0 auto;
  background-image: url('/environment/images/lissajous-logo.png');
  background-size: 730px 130px;
}

.give-me-some-space
{
  margin-top: 150px;
}

/**/

.drag-and-drop
{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  opacity: 0;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);

  transition: transform 0s 0.2s, opacity 0.2s;
  -webkit-transition: -webkit-transform 0s 0.2s, opacity 0.2s;

  background-color: #D9D8D4;
  text-align: center;
}

.drag-and-drop .drag-and-drop-inner
{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  display: inline-block;
  margin: auto;
  height: 40px;
}

.drag-and-drop.show
{
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);

  transition: transform 0s, opacity 0.2s;
  -webkit-transition: -webkit-transform 0s, opacity 0.2s;
}